{
  "extends": "airbnb",
  "rules": {
    "no-console": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-underscore-dangle": ["error", { "allow": ["_myFunc"] }]
  },
  "globals": {
    "fetch": false,
    "window": false,
    "XMLHttpRequest": false,
    "document": false,
    "URL": false,
    "requestAnimationFrame": false,
    "performance": false,
  }
}
