#canvas {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.Recorder-hidden {
  display: none;
}

.Recorder-visible {
  display: inline;
}

.Recorder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Recorder-canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 75%;
  transform: translate(-50%, -50%);
}
